
.navbar {
    font-family: 'Anton', sans-serif;
    flex-direction: row;
}

.navbar.btn {
    left: auto;
    right: 0px;
}

.navbar-brand {
    padding-left: 5rem;
}

.navbar-nav {
    padding-right: 5rem;
}

.a-button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}