body {
	font-family: 'Titillium Web', sans-serif;
	font-size: 12pt;
	background: #fcfcfc;
	color: #111;
}

p {
	border: 1px #ccc solid;
	border-radius: 5px;
	padding: .5ex .5em .5ex .5em;
}

img {
	border: 0;
}

button {
	border-radius: 2px;
}

/* CV Heading Section - Fixed on top of page */

#cvhead {
	font-weight: 700;
	font-size: 120%;
	margin: 0 0 3ex 0;
	height: 275px;
	width: 100%;
	
	/* the following 4 lines can be removed, if a standard (non-fixed) layout should be used */
	position: fixed;
	top: 0;
	background: inherit;
	border-bottom: 1px #eee solid;
}

#cvhead img {
	float: right;
	max-width: 250px;
	max-height: 270px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px grey;
	margin: 1em 1.5em 0 2em; 
}

#cvhead h1 {
	border-bottom: 1px #444 solid;
	font-weight: 700;
	margin: 0 280px 0 0;
}

#cvhead h1:before {
	font-size: 80%;
	color: #A83535;
	font-weight: 400;
	content: 'Lebenslauf\A';
	white-space:pre;
}

#cvhead p {
	margin-right: 280px;
	background: #ddd;
}


/* CV Body Section - sub-sections marked up with H2, P and UL tags */

#cvbody {
	font-weight: 400;
	font-size: 100%;

	/* the following line should be removed, if a standard (non-fixed) layout should be used */
	margin-top: 280px;
}

#cvbody h2 {
	font-weight: 700;
	color: #292e75;
	margin-top: 3ex;
}

#cvbody p {
	background: #f1f1f1;
}

#cvbody ul {
	list-style: none;
}

#cvbody ul li .cvitemcontent{
	margin-bottom: 1ex;
	display: inline-block;
}

.cvitemlabel {
	vertical-align: top;
	display: inline-block;
	width: 10em;
	font-weight: 700;
	padding-right: 1em;
}

/*  extensions for toggling cvbody sections */

#cvbody div.visible{
	display: block;
}

#cvbody div.hidden{
	display: none;
}

#cvbody button {
	width: 2.5em;
	margin-right: 1em;
}

/* CV Footer - parts marked up with P tags, but displayed in line */

#cvfoot {
	font-weight: 300;
	font-size: 80%;
	margin: 5ex auto 1ex auto;
	text-align: center;
	border-top: 1px #aaa solid;
	padding: 1ex 0 0 0;
}

#cvfoot p {
	display: inline-block;
	vertical-align: top;
	border: 0;
	border-radius: 0;
}

#cvfoot .cvfootlabel {
	font-style: italic;
	
}

#cvfoot a, #cvfoot a.visited {
	text-decoration: none;
}

